@import '../../assets/variables.module.scss';

.beerlist{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 415px){
    .beerlist{
        grid-template-columns: 1fr;
    }
}