.filterList{
    padding-left: 10px;
    line-height: 20px;

    .filterButton{
        margin: 4px 4px 10px 10px;
        width: 20px;
        height: 20px;
    }
    .toggledButton{
        background-color: rgb(224, 119, 205);
        border: 1px solid rgb(161, 51, 141);
        border-radius: 4px;
    }
}

@media screen and (max-width: 480px){
    .filterList{  
        line-height: 18px; 
        span{
            font-size: 12px;
        }
    }
}