@import '../../assets/variables.module.scss';

.card{
    height: 430px;
    width: 80%;
    display: flex;
    background-color: $primaryfrontcolour;
    border-radius: 8px;
    margin: 10px;
}

.cardleft{
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondarybgcolour;
    border-radius: 8px;
    .cardleft__image{
        margin: 10px;
        max-height: 300px;
        width: auto;
    }
    .filterdetails{
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
        font-size: $minifontsize;
    }
}



.cardright{
    margin:10px;
    h4{
        font-size: $titlefontsize;
    }
    p{
        font-size: $minifontsize;
    }
    > div{
        margin: 10px;
        > *{
            margin-top: 4px;
        }
    }
}

@media screen and (max-width: 1450px){
    .card{
        height: 300px;
        .cardleft__image{
            max-height: 180px;
            width: auto;
        }
    }
    @media screen and (max-width: 1024px){
        .card{
            height: 95%;
            width: 90%;
        }
        @media screen and (max-width: 480px){
            .cardright{    
                p{
                    font-size: 12px;
                }
            }
        }
    }
}

