@import '../../assets/variables.module.scss';

.navigation{
    margin: 2% 1% 0 1%;
    height: 90%;
    width: 20%;
    background-color: $secondarybgcolour;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}